<%- include('./partials/header.ejs') %>

<div style="max-width: 696px;" class="mx-auto">  
  <h1 class="my-3">Reporting</h1>
  <div class="accordion my-3 mx-auto" id="accordion">
    <div class="accordion-item">
      <button class="accordion-button <% if(!([data.post, data.showForm].includes('morning'))){ %>collapsed<% } %>" type="button" data-bs-toggle="collapse" data-bs-target="#morning">
        <h2 class="display-6">Morning</h2>
      </button>
      <div id="morning" class="accordion-collapse collapse <% if([data.post, data.showForm].includes('morning')){ %>show<% } %>" data-bs-parent="#accordion">
        <div class="accordion-body">
          <form action="/behavior/reporting" method="POST">
            <% if(data.post==='morning'){ %>
            <%- include('./partials/errors.ejs') %>
            <% } %>
            <input type="hidden" name="type" value="morning">
            
            <div class="mb-2">
              <label for="dateM">Date</label>
              <input type="date" id="dateM" name="date" class="form-control" max="<%= data.today %>" value="<%= data.morningDate || data.today %>" required>
            </div>
            
            <div class="mb-2">
              <label for="sleep_duration">Duration of sleep</label>
              <div class="input-group">
                <input type="number" id="sleep_duration" name="sleep_duration" class="form-control" step="0.01" min="0" max="24" value="<%= data.morning?.sleep_duration %>" required>
                <span class="input-group-text">hours</span>
              </div>
            </div>
            
            <div class="mb-2">
              <label for="sleep_quality">Quality of sleep</label>
              <div class="row">
                <div class="col col-auto text-secondary">1</div>
                <div class="col">
                  <input type="range" id="sleep_quality" name="sleep_quality" class="form-range" min="1" max="5" value="<%= data.morning?.sleep_quality || 3 %>" required>
                </div>
                <div class="col-auto text-secondary">5</div>
              </div>
            </div>
            
            <div class="mb-3">
              <label for="moodM">Mood</label>
              <div class="row">
                <div class="col col-auto text-secondary">1</div>
                <div class="col">
                  <input type="range" id="moodM" name="mood" min="1" class="form-range" max="5" value="<%= data.morning?.mood || 3 %>" required>
                </div>
                <div class="col-auto text-secondary">5</div>
              </div>
            </div>
            
            <input class="btn form-control btn-outline-primary" type="submit" value="Save">
            
            <div class="form-text">If there's an existing report on the date, its data will be overwritten</div>
          </form>
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <button class="accordion-button <% if(!([data.post, data.showForm].includes('evening'))){ %>collapsed<% } %>" type="button" data-bs-toggle="collapse" data-bs-target="#evening">
        <h2 class="display-6">Evening</h2>
      </button>
      <div id="evening" class="accordion-collapse collapse <% if([data.post, data.showForm].includes('evening')){ %>show<% } %>" data-bs-parent="#accordion">
        <div class="accordion-body">
          
          <form action="/behavior/reporting" method="POST">
            <% if(data.post==='evening'){ %>
            <%- include('./partials/errors.ejs') %>
            <% } %>
            <input type="hidden" name="type" value="evening">
            
            <div class="mb-2">
              <label for="dateE">Date</label>
              <input type="date" id="dateE" name="date" class="form-control" max="<%= data.today %>" value="<%= data.eveningDate || data.today %>" required>
            </div>
            
            <div class="mb-2">
              <label for="exercise">Exercise</label>
              <div class="input-group">
                <input type="number" id="exercise" name="exercise" class="form-control" step="0.01" min="0" max="24" value="<%= data.evening?.exercise %>" required>
                <span class="input-group-text">hours</span>
              </div>
            </div>
            
            <div class="mb-2">
              <label for="studying">Studying</label>
              <div class="input-group">
                <input type="number" id="studying" name="studying" class="form-control" step="0.01" min="0" max="24" value="<%= data.evening?.studying %>" required>
                <span class="input-group-text">hours</span>
              </div>
            </div>
            
            <div class="mb-3">
              <label for="eating">Quality of eating</label>
              <div class="row">
                <div class="col col-auto text-secondary">1</div>
                <div class="col">
                  <input type="range" id="eating" name="eating" min="1" class="form-range" max="5" value="<%= data.evening?.eating || 3 %>" required>
                </div>
                <div class="col-auto text-secondary">5</div>
              </div>
            </div>
            
            <div class="mb-3">
              <label for="moodE">Mood</label>
              <div class="row">
                <div class="col col-auto text-secondary">1</div>
                <div class="col">
                  <input type="range" id="moodE" name="mood" min="1" class="form-range" max="5" value="<%= data.evening?.mood || 3 %>" required>
                </div>
                <div class="col-auto text-secondary">5</div>
              </div>
            </div>
            
            <input class="btn form-control btn-outline-primary" type="submit" value="Save">
            
            <div class="form-text">If there's an existing report on the date, its data will be overwritten</div>
            
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('./partials/footer.ejs') %>
