<%- include('./partials/header.ejs') %>
<h1 class="my-3">My summary</h1>
<input type="date" name="date" id="summary-date-input" class="form-control p-3 fs-2 mt-4 w-auto mx-auto" value="<%= data.date %>">

<div class="my-3" id="summary">
  
  <div class="row fs-4 fw-light border-bottom mx-1">
    <div class="col d-none d-sm-block align-bottom"></div>
    <% [['day', 'Day'], ['week', `Week ${data.week}`], ['month', data.month]].forEach((set) => { %>
      <div id="title-<%= set[0] %>" class="text-end fw-light d-sm-block ps-0 col py-3"><%= set[1] %></div>
    <% }) %>
  </div>

  <% ['Mood', 'Eating', 'Sleep quality', 'Sleep duration', 'Exercise', 'Studying'].forEach((stat) => { %>
    <div class="row d-sm-none border-white pt-3 mx-1"><div class="col"><%= stat %></div></div>
    <div class="row align-items-center border-bottom py-3 mx-1">
      <div class="col align-middle d-none d-sm-block"><%= stat %></div>
      <% ['day', 'week', 'month'].forEach((time) => { %>
        <div class="col fs-4 text-end align-middle">
          <span id="<%= time %>-<%= stat.replaceAll(' ','_').toLowerCase() %>"></span>
          <span class="text-muted fs-6"><%= ['Mood', 'Sleep quality', 'Eating'].includes(stat) ? '/ 5' : 'h' %></span>
        </div>
      <% }) %>
      </div>
  <% }) %>

</div>


<%- include('./partials/footer.ejs') %>
