<%- include('./partials/header.ejs') %>
<h1 class="my-3">My summary</h1>

  <input type="date" name="date" id="summary-date-input" class="form-control p-3 fs-2 mt-4 w-auto mx-auto" value="<%= data.date %>">

<div class="row my-3 g-3" id="summary">

  <% [['day', 'Day'], ['week', `Week ${data.week}`], ['month', data.month]].forEach((set) => { %>
    <% const time = set[0] %>
    <% const title = set[1] %>
    <div class="col-md">
      <ul class="list-group">
        <li id="title-<%= time %>" class="list-group-item p-3 fs-3 fw-light text-center"><%= title %></li>
        <% ['Mood', 'Eating', 'Sleep quality', 'Sleep duration', 'Exercise', 'Studying'].forEach((stat) => { %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div><%= stat %></div>
            <div class="fs-4">
              <span id="<%= time %>-<%= stat.replaceAll(' ','_').toLowerCase() %>"></span>
              <span class="text-muted fs-6"><%= ['Mood', 'Sleep quality', 'Eating'].includes(stat) ? '/ 5' : 'h' %></span>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  <% }) %>

</div>
<%- include('./partials/footer.ejs') %>
